In [9]:
import pandas as pd
df_red = pd.read_csv('winequality-red.csv', sep=";")
df_white = pd.read_csv('winequality-white.csv', sep=";")
"""
Attribute Information:
Input variables (based on physicochemical tests): 
1 - fixed acidity 
2 - volatile acidity 
3 - citric acid 
4 - residual sugar 
5 - chlorides 
6 - free sulfur dioxide 
7 - total sulfur dioxide 
8 - density 
9 - pH 
10 - sulphates 
11 - alcohol 
Output variable (based on sensory data): 
12 - quality (score between 0 and 10)
"""
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
# 1. How many samples of red wine are there?
# 2. How many samples of white win are there?
# 3. How many columns are in each dataset?
# 4. Which features have missing values?
# 5. How many duplicate rows are in the white wine dataset?
# 6. Are duplicate rows in these datasets dignificant / need to be dropped?
# 7. How many unique values of quality are in the red wine dataset?
# 8. How many unique values of quality are in the white wine dataset?
# 9. What is the mean density in the red wine dataset?

In [12]:
df_red.shape

(1599, 12)

In [13]:
df_white.shape

(4898, 12)

In [14]:
df_red.isnull().values.any()

False

In [15]:
df_white.isnull().values.any()

False

In [16]:
sum(df_red.duplicated())

240

In [17]:
sum(df_white.duplicated())

937

In [21]:
df_unique_red = df_red['quality'].unique()
df_unique_red.shape

(6L,)

In [23]:
df_unique_white = df_white['quality'].unique()
df_unique_white.shape

(7L,)

In [24]:
df_red['density'].mean()

0.9967466791744833

In [25]:
# combine all data of red and white and add another column that specifies if red or white